In [25]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime
import math
from sklearn.feature_extraction import DictVectorizer
from sklearn.model_selection import train_test_split
from tensorflow.keras import *
import tensorflow

In [26]:
DATA_PATH = '../raw_data'

In [27]:
train = pd.read_csv(f'{DATA_PATH}/train.csv')
X = train.drop(columns='Yards')
y = train.Yards

In [28]:
train.dtypes.value_counts()

object     24
int64      15
float64    10
dtype: int64

# Categorical Features

In [29]:
train_cat = train.select_dtypes(include=['object'])

In [30]:
train_cat.nunique()

Team                     2
DisplayName           2568
GameClock              901
PossessionTeam          32
FieldPosition           32
OffenseFormation         8
OffensePersonnel        61
DefensePersonnel        45
PlayDirection            2
TimeHandoff          30709
TimeSnap             30721
PlayerHeight            16
PlayerBirthDate       1897
PlayerCollegeName      314
Position                25
HomeTeamAbbr            32
VisitorTeamAbbr         32
Stadium                 61
Location                67
StadiumType             33
Turf                    23
GameWeather             73
WindSpeed               69
WindDirection           58
dtype: int64

In [31]:
train_cat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 682154 entries, 0 to 682153
Data columns (total 24 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Team               682154 non-null  object
 1   DisplayName        682154 non-null  object
 2   GameClock          682154 non-null  object
 3   PossessionTeam     682154 non-null  object
 4   FieldPosition      673552 non-null  object
 5   OffenseFormation   682066 non-null  object
 6   OffensePersonnel   682154 non-null  object
 7   DefensePersonnel   682154 non-null  object
 8   PlayDirection      682154 non-null  object
 9   TimeHandoff        682154 non-null  object
 10  TimeSnap           682154 non-null  object
 11  PlayerHeight       682154 non-null  object
 12  PlayerBirthDate    682154 non-null  object
 13  PlayerCollegeName  682154 non-null  object
 14  Position           682154 non-null  object
 15  HomeTeamAbbr       682154 non-null  object
 16  VisitorTeamAbbr    682154 non-null  object
 17  Stadium            682154 non-null  object
 18  Location           682154 non-null  object
 19  StadiumType        640464 non-null  object
 20  Turf               682154 non-null  object
 21  GameWeather        621984 non-null  object
 22  WindSpeed          590282 non-null  object
 23  WindDirection      577478 non-null  object
dtypes: object(24)
memory usage: 124.9+ MB

## Team

In [32]:
train_cat.Team.unique()

array(['away', 'home'], dtype=object)

In [33]:
def proc_team(x):
    return 1 if x == 'home' else 0

## DisplayName

In [34]:
train_cat.DisplayName.nunique()

2568

## GameClock

In [35]:
train_cat.GameClock.unique()

array(['14:14:00', '13:52:00', '13:02:00', '12:12:00', '12:08:00',
       '11:21:00', '10:34:00', '09:34:00', '09:25:00', '06:34:00',
       '03:47:00', '03:03:00', '01:36:00', '00:37:00', '00:23:00',
       '14:44:00', '13:17:00', '12:49:00', '11:23:00', '09:57:00',
       '09:17:00', '08:38:00', '08:15:00', '07:31:00', '07:22:00',
       '06:11:00', '05:29:00', '03:44:00', '02:29:00', '15:00:00',
       '10:53:00', '10:23:00', '09:13:00', '07:55:00', '07:08:00',
       '05:35:00', '05:03:00', '04:21:00', '02:31:00', '02:00:00',
       '00:57:00', '00:04:00', '12:29:00', '10:28:00', '10:00:00',
       '08:20:00', '05:19:00', '04:15:00', '04:05:00', '02:44:00',
       '02:37:00', '02:32:00', '14:52:00', '12:48:00', '12:15:00',
       '11:35:00', '10:33:00', '09:40:00', '06:13:00', '01:57:00',
       '00:20:00', '14:30:00', '13:22:00', '06:16:00', '05:48:00',
       '04:44:00', '03:55:00', '02:38:00', '02:10:00', '14:54:00',
       '12:00:00', '10:41:00', '09:05:00', '08:05:00', '06:52:00',
       '01:48:00', '00:36:00', '14:17:00', '13:27:00', '12:51:00',
       '12:05:00', '11:18:00', '10:21:00', '08:52:00', '06:33:00',
       '05:53:00', '03:51:00', '03:42:00', '02:55:00', '02:06:00',
       '14:48:00', '11:53:00', '10:39:00', '09:24:00', '08:40:00',
       '07:49:00', '05:22:00', '04:19:00', '01:35:00', '00:50:00',
       '14:55:00', '14:18:00', '10:56:00', '09:07:00', '08:22:00',
       '06:02:00', '04:34:00', '04:29:00', '03:02:00', '02:25:00',
       '01:53:00', '01:05:00', '14:56:00', '14:20:00', '13:44:00',
       '12:09:00', '10:10:00', '09:33:00', '08:06:00', '07:26:00',
       '05:59:00', '03:36:00', '02:05:00', '01:21:00', '00:56:00',
       '06:38:00', '04:53:00', '14:19:00', '13:47:00', '12:38:00',
       '11:45:00', '03:28:00', '02:46:00', '01:34:00', '13:46:00',
       '12:42:00', '11:50:00', '10:22:00', '09:50:00', '08:48:00',
       '07:10:00', '05:46:00', '03:41:00', '03:15:00', '01:47:00',
       '01:31:00', '01:24:00', '00:30:00', '00:12:00', '14:06:00',
       '10:44:00', '10:02:00', '09:22:00', '07:44:00', '07:02:00',
       '06:29:00', '05:47:00', '04:25:00', '02:57:00', '02:21:00',
       '01:54:00', '00:18:00', '14:22:00', '13:15:00', '09:47:00',
       '08:47:00', '04:33:00', '04:26:00', '04:07:00', '04:01:00',
       '02:52:00', '02:09:00', '01:06:00', '00:25:00', '14:24:00',
       '13:35:00', '12:44:00', '11:40:00', '02:22:00', '01:12:00',
       '00:17:00', '13:54:00', '12:28:00', '11:13:00', '08:03:00',
       '05:18:00', '04:50:00', '01:27:00', '00:41:00', '13:11:00',
       '07:16:00', '06:32:00', '03:25:00', '00:33:00', '13:06:00',
       '10:35:00', '07:20:00', '04:54:00', '02:28:00', '14:16:00',
       '11:08:00', '08:57:00', '08:37:00', '06:12:00', '04:04:00',
       '02:35:00', '00:46:00', '14:27:00', '12:33:00', '10:19:00',
       '08:19:00', '05:50:00', '05:09:00', '03:54:00', '01:11:00',
       '13:04:00', '11:26:00', '10:12:00', '09:23:00', '05:42:00',
       '05:01:00', '04:03:00', '03:52:00', '02:26:00', '00:48:00',
       '11:44:00', '11:03:00', '10:18:00', '05:07:00', '01:33:00',
       '00:49:00', '14:26:00', '09:12:00', '07:28:00', '07:07:00',
       '05:51:00', '04:32:00', '04:02:00', '02:42:00', '01:42:00',
       '14:42:00', '12:58:00', '12:22:00', '11:24:00', '09:36:00',
       '08:10:00', '06:53:00', '05:41:00', '04:57:00', '03:43:00',
       '03:08:00', '02:14:00', '14:33:00', '13:36:00', '11:05:00',
       '09:09:00', '08:24:00', '07:45:00', '06:40:00', '04:40:00',
       '04:14:00', '03:13:00', '00:03:00', '13:31:00', '12:10:00',
       '09:59:00', '09:16:00', '03:31:00', '03:21:00', '03:04:00',
       '11:57:00', '10:40:00', '09:11:00', '08:31:00', '06:58:00',
       '05:28:00', '03:59:00', '02:51:00', '01:25:00', '00:45:00',
       '14:21:00', '13:00:00', '09:15:00', '07:03:00', '06:30:00',
       '05:08:00', '12:16:00', '11:17:00', '10:24:00', '08:42:00',
       '06:10:00', '03:50:00', '02:15:00', '00:42:00', '13:58:00',
       '10:32:00', '06:44:00', '04:41:00', '03:17:00', '03:05:00',
       '02:58:00', '14:50:00', '10:50:00', '06:21:00', '04:49:00',
       '00:27:00', '13:18:00', '12:40:00', '11:00:00', '08:30:00',
       '06:37:00', '09:03:00', '04:17:00', '00:52:00', '14:31:00',
       '12:21:00', '10:17:00', '08:07:00', '03:33:00', '02:49:00',
       '12:43:00', '11:04:00', '09:14:00', '07:46:00', '07:06:00',
       '04:09:00', '02:03:00', '01:26:00', '10:29:00', '09:44:00',
       '14:25:00', '12:54:00', '09:54:00', '09:28:00', '08:09:00',
       '07:15:00', '05:30:00', '01:55:00', '00:10:00', '14:13:00',
       '13:34:00', '12:17:00', '11:36:00', '09:29:00', '09:10:00',
       '08:29:00', '06:59:00', '05:02:00', '04:22:00', '02:54:00',
       '09:26:00', '07:53:00', '07:19:00', '05:10:00', '13:28:00',
       '09:48:00', '08:49:00', '08:12:00', '07:12:00', '03:48:00',
       '00:55:00', '00:43:00', '13:56:00', '11:27:00', '08:28:00',
       '07:05:00', '05:11:00', '02:20:00', '14:36:00', '09:49:00',
       '06:17:00', '03:19:00', '13:42:00', '07:47:00', '06:04:00',
       '05:04:00', '03:00:00', '13:01:00', '12:14:00', '09:46:00',
       '08:00:00', '06:27:00', '05:49:00', '12:23:00', '10:04:00',
       '08:02:00', '06:45:00', '04:38:00', '03:53:00', '13:49:00',
       '08:04:00', '07:17:00', '06:35:00', '04:59:00', '04:18:00',
       '02:39:00', '11:07:00', '12:37:00', '11:28:00', '10:51:00',
       '08:11:00', '07:35:00', '02:40:00', '12:02:00', '08:51:00',
       '07:23:00', '03:07:00', '13:37:00', '12:36:00', '07:48:00',
       '05:26:00', '04:45:00', '03:20:00', '02:27:00', '02:19:00',
       '12:19:00', '10:48:00', '07:37:00', '05:44:00', '04:36:00',
       '03:12:00', '01:01:00', '14:45:00', '10:37:00', '06:15:00',
       '03:06:00', '01:43:00', '13:23:00', '07:34:00', '05:00:00',
       '02:34:00', '13:40:00', '10:07:00', '06:25:00', '13:21:00',
       '12:30:00', '09:39:00', '06:18:00', '02:41:00', '01:44:00',
       '01:07:00', '00:24:00', '13:19:00', '11:43:00', '11:11:00',
       '10:05:00', '07:25:00', '05:27:00', '02:50:00', '02:07:00',
       '01:46:00', '01:16:00', '00:38:00', '07:33:00', '02:17:00',
       '13:51:00', '11:58:00', '09:31:00', '08:01:00', '06:24:00',
       '13:59:00', '09:42:00', '07:36:00', '07:01:00', '04:46:00',
       '03:57:00', '02:23:00', '11:49:00', '10:20:00', '06:46:00',
       '06:09:00', '05:16:00', '10:49:00', '07:21:00', '06:26:00',
       '05:57:00', '01:40:00', '13:14:00', '07:11:00', '01:08:00',
       '01:02:00', '11:30:00', '10:06:00', '09:32:00', '03:38:00',
       '01:51:00', '00:28:00', '13:41:00', '11:56:00', '10:43:00',
       '07:58:00', '05:45:00', '00:15:00', '04:16:00', '03:34:00',
       '02:13:00', '11:41:00', '11:01:00', '09:41:00', '06:49:00',
       '04:00:00', '12:45:00', '07:43:00', '09:51:00', '08:53:00',
       '07:24:00', '03:32:00', '00:19:00', '00:06:00', '12:39:00',
       '10:15:00', '09:45:00', '06:08:00', '02:45:00', '13:53:00',
       '04:06:00', '03:22:00', '11:02:00', '10:26:00', '09:08:00',
       '07:42:00', '07:32:00', '06:48:00', '05:12:00', '03:24:00',
       '00:51:00', '11:38:00', '09:55:00', '09:18:00', '04:58:00',
       '13:39:00', '12:07:00', '08:54:00', '04:08:00', '12:34:00',
       '11:37:00', '05:34:00', '04:13:00', '08:39:00', '13:25:00',
       '10:25:00', '09:02:00', '06:47:00', '03:09:00', '02:16:00',
       '00:47:00', '12:47:00', '11:51:00', '11:19:00', '08:14:00',
       '06:31:00', '05:55:00', '02:59:00', '01:19:00', '14:04:00',
       '13:29:00', '10:55:00', '06:43:00', '03:37:00', '02:53:00',
       '00:16:00', '06:28:00', '05:37:00', '05:05:00', '02:02:00',
       '01:56:00', '12:11:00', '08:32:00', '04:28:00', '01:29:00',
       '11:16:00', '10:11:00', '04:56:00', '01:30:00', '10:09:00',
       '03:10:00', '14:28:00', '10:27:00', '08:33:00', '06:54:00',
       '06:19:00', '13:50:00', '10:31:00', '06:07:00', '04:52:00',
       '03:18:00', '14:01:00', '12:35:00', '10:03:00', '08:23:00',
       '03:40:00', '03:29:00', '14:10:00', '12:13:00', '10:14:00',
       '09:38:00', '08:45:00', '06:50:00', '04:55:00', '12:56:00',
       '08:50:00', '07:50:00', '10:57:00', '09:53:00', '00:07:00',
       '12:18:00', '08:55:00', '07:30:00', '05:24:00', '14:15:00',
       '12:57:00', '08:58:00', '01:10:00', '10:38:00', '09:58:00',
       '08:46:00', '04:51:00', '01:23:00', '14:11:00', '13:03:00',
       '09:06:00', '09:27:00', '10:45:00', '08:35:00', '06:36:00',
       '10:52:00', '08:27:00', '07:29:00', '05:58:00', '13:10:00',
       '10:36:00', '08:13:00', '07:13:00', '00:26:00', '13:33:00',
       '11:46:00', '02:18:00', '13:38:00', '07:27:00', '01:39:00',
       '12:55:00', '10:01:00', '05:32:00', '05:14:00', '01:50:00',
       '01:09:00', '14:57:00', '12:26:00', '11:48:00', '03:39:00',
       '12:59:00', '12:27:00', '04:10:00', '14:34:00', '10:08:00',
       '06:23:00', '02:24:00', '02:30:00', '07:56:00', '11:33:00',
       '07:00:00', '03:46:00', '00:53:00', '05:43:00', '01:49:00',
       '14:47:00', '14:39:00', '14:08:00', '06:22:00', '14:38:00',
       '13:16:00', '12:24:00', '03:30:00', '01:37:00', '13:07:00',
       '11:15:00', '03:16:00', '14:49:00', '11:22:00', '10:46:00',
       '04:39:00', '13:45:00', '12:31:00', '04:47:00', '11:14:00',
       '01:32:00', '07:14:00', '01:59:00', '12:52:00', '11:25:00',
       '08:18:00', '13:26:00', '09:35:00', '08:43:00', '05:36:00',
       '04:24:00', '04:23:00', '14:41:00', '12:50:00', '01:17:00',
       '00:32:00', '14:43:00', '08:08:00', '03:11:00', '01:28:00',
       '01:58:00', '12:53:00', '05:40:00', '13:32:00', '12:03:00',
       '08:25:00', '03:27:00', '11:10:00', '08:59:00', '08:26:00',
       '11:34:00', '10:30:00', '05:33:00', '05:52:00', '04:11:00',
       '00:21:00', '10:59:00', '07:59:00', '14:35:00', '03:23:00',
       '00:29:00', '11:20:00', '08:56:00', '07:38:00', '06:56:00',
       '13:13:00', '12:41:00', '12:06:00', '05:15:00', '02:12:00',
       '01:03:00', '04:43:00', '02:11:00', '01:20:00', '14:23:00',
       '11:54:00', '05:38:00', '14:53:00', '00:58:00', '11:12:00',
       '10:13:00', '07:41:00', '14:51:00', '11:42:00', '06:57:00',
       '03:26:00', '08:34:00', '07:04:00', '03:45:00', '01:41:00',
       '00:54:00', '05:31:00', '14:32:00', '14:00:00', '04:37:00',
       '05:21:00', '13:05:00', '12:25:00', '06:55:00', '01:15:00',
       '10:58:00', '03:49:00', '04:20:00', '10:16:00', '07:18:00',
       '12:20:00', '01:18:00', '03:35:00', '00:40:00', '09:52:00',
       '14:37:00', '04:27:00', '14:07:00', '02:56:00', '13:08:00',
       '09:56:00', '13:24:00', '10:47:00', '08:44:00', '07:52:00',
       '07:09:00', '00:08:00', '05:23:00', '12:04:00', '05:25:00',
       '13:55:00', '05:20:00', '13:57:00', '06:00:00', '13:09:00',
       '11:32:00', '09:43:00', '08:36:00', '13:48:00', '11:39:00',
       '13:43:00', '11:09:00', '14:12:00', '02:01:00', '00:59:00',
       '01:22:00', '03:14:00', '14:03:00', '11:52:00', '05:39:00',
       '04:48:00', '01:13:00', '06:06:00', '06:01:00', '02:48:00',
       '05:13:00', '02:43:00', '12:32:00', '01:04:00', '00:09:00',
       '09:04:00', '06:51:00', '11:06:00', '04:35:00', '08:41:00',
       '03:56:00', '03:58:00', '07:57:00', '08:21:00', '14:05:00',
       '00:31:00', '00:22:00', '07:40:00', '01:14:00', '10:42:00',
       '11:29:00', '11:47:00', '09:20:00', '11:59:00', '07:51:00',
       '13:12:00', '04:31:00', '02:36:00', '09:19:00', '00:34:00',
       '14:29:00', '01:38:00', '08:16:00', '00:13:00', '13:20:00',
       '06:05:00', '06:14:00', '09:01:00', '14:09:00', '12:01:00',
       '13:30:00', '03:01:00', '00:35:00', '06:39:00', '07:54:00',
       '00:01:00', '04:12:00', '02:47:00', '09:30:00', '04:30:00',
       '11:31:00', '02:08:00', '14:02:00', '12:46:00', '05:17:00',
       '01:52:00', '00:02:00', '01:45:00', '00:14:00', '14:46:00',
       '14:59:00', '00:44:00', '06:20:00', '09:21:00', '08:17:00',
       '06:41:00', '05:06:00', '02:33:00', '04:42:00', '09:37:00',
       '05:54:00', '07:39:00', '10:54:00', '06:42:00', '05:56:00',
       '02:04:00', '00:39:00', '00:11:00', '09:00:00', '11:55:00',
       '06:03:00', '00:00:00', '01:00:00', '00:05:00', '14:40:00',
       '14:58:00'], dtype=object)

In [36]:
# transform game clock time in minutes
def proc_gameclock(x):
    min,sec,msec = x.split(':')
    return int(min) + int(sec)/60 + int(msec)/3600

## PossessionTeam

In [37]:
train_cat.PossessionTeam.unique()

array(['NE', 'KC', 'BUF', 'NYJ', 'ATL', 'CHI', 'CIN', 'BLT', 'CLV', 'PIT',
       'ARZ', 'DET', 'JAX', 'HST', 'OAK', 'TEN', 'WAS', 'PHI', 'LA',
       'IND', 'SEA', 'GB', 'CAR', 'SF', 'DAL', 'NYG', 'NO', 'MIN', 'DEN',
       'LAC', 'TB', 'MIA'], dtype=object)

In [38]:
train_cat[
    (train_cat.PossessionTeam != train_cat.HomeTeamAbbr) & 
    (train_cat.PossessionTeam != train_cat.VisitorTeamAbbr)][['PossessionTeam','HomeTeamAbbr','VisitorTeamAbbr']]

       PossessionTeam HomeTeamAbbr VisitorTeamAbbr
2992              BLT          CIN             BAL
2993              BLT          CIN             BAL
2994              BLT          CIN             BAL
2995              BLT          CIN             BAL
2996              BLT          CIN             BAL
...               ...          ...             ...
682149            BLT           LA             BAL
682150            BLT           LA             BAL
682151            BLT           LA             BAL
682152            BLT           LA             BAL
682153            BLT           LA             BAL

[85052 rows x 3 columns]

## FieldPosition

In [39]:
train_cat.FieldPosition.unique()

array(['NE', 'KC', nan, 'BUF', 'NYJ', 'ATL', 'CHI', 'CIN', 'BLT', 'CLV',
       'PIT', 'ARZ', 'DET', 'JAX', 'HST', 'TEN', 'OAK', 'WAS', 'PHI',
       'LA', 'IND', 'GB', 'SEA', 'CAR', 'SF', 'DAL', 'NYG', 'NO', 'MIN',
       'DEN', 'LAC', 'TB', 'MIA'], dtype=object)

In [40]:
def possession_in_fieldPosition(df):
    df['PossessionInFieldPosition'] = df.FieldPosition == df.PossessionTeam
    df['PossessionInFieldPosition'] = df['PossessionInFieldPosition'].apply(lambda x : 1 if x else 0)
    return df.drop(columns = ['FieldPosition','PossessionTeam'])

## OffenseFormation

In [41]:
train_cat.OffenseFormation.unique()

array(['SHOTGUN', 'SINGLEBACK', 'JUMBO', 'PISTOL', 'I_FORM', 'ACE',
       'WILDCAT', nan, 'EMPTY'], dtype=object)

In [42]:
# One Hot Encoding of the offense formation values
def oneHotEncoding_offense_formation(df):
    offense_formation_dummies = pd.get_dummies(df.OffenseFormation, columns=df.OffenseFormation.unique())
    return pd.concat([df.drop('OffenseFormation', axis=1),offense_formation_dummies], axis=1)

## OffensePersonnel

In [43]:
# feature is droped because it is already contained in Position feature

## DefensePersonnel

In [44]:
# feature is droped because it is already contained in Position feature

## Position

In [45]:
train_cat.Position.unique()

array(['SS', 'DE', 'ILB', 'FS', 'CB', 'DT', 'WR', 'TE', 'T', 'QB', 'RB',
       'G', 'C', 'OLB', 'NT', 'FB', 'MLB', 'LB', 'OT', 'S', 'OG', 'HB',
       'DB', 'DL', 'SAF'], dtype=object)

In [46]:
# One Hot Encoding of the positions
def oneHotEncoding_position(df):
    position_dummies = pd.get_dummies(df.Position, columns=df.Position.unique())
    return pd.concat([df.drop('Position', axis=1),position_dummies], axis=1)

## PlayDirection

In [47]:
train_cat.PlayDirection.unique()

array(['left', 'right'], dtype=object)

In [48]:
def proc_play_direction(x):
    return 1 if x == 'left' else 0

## TimeHandoff / TimeSnap / PlayerBithDate

In [49]:
train_cat.TimeHandoff.unique()

array(['2017-09-08T00:44:06.000Z', '2017-09-08T00:44:27.000Z',
       '2017-09-08T00:45:17.000Z', ..., '2019-11-26T03:46:54.000Z',
       '2019-11-26T03:58:22.000Z', '2019-11-26T03:59:06.000Z'],
      dtype=object)

In [50]:
train_cat.TimeSnap.unique()

array(['2017-09-08T00:44:05.000Z', '2017-09-08T00:44:26.000Z',
       '2017-09-08T00:45:15.000Z', ..., '2019-11-26T03:46:53.000Z',
       '2019-11-26T03:58:21.000Z', '2019-11-26T03:59:05.000Z'],
      dtype=object)

In [51]:
train_cat.PlayerBirthDate.unique()

array(['12/29/1988', '03/25/1989', '01/21/1989', ..., '11/12/1995',
       '07/01/1996', '08/28/1995'], dtype=object)

In [52]:
def proc_time_handoff_snap_and_player_age(df):
    seconds_in_year = 3600*24*365.25
    df['TimeDeltaHandoff'] = (df.TimeHandoff.apply(lambda x : datetime.strptime(x,'%Y-%m-%dT%H:%M:%S.%fZ'))
                          - df.TimeSnap.apply(lambda x : datetime.strptime(x,'%Y-%m-%dT%H:%M:%S.%fZ')))
    df['TimeDeltaHandoff'] = df['TimeDeltaHandoff'].apply(lambda x : x.total_seconds()/seconds_in_year)
    df['PlayerAge'] = (df.TimeHandoff.apply(lambda x : datetime.strptime(x,'%Y-%m-%dT%H:%M:%S.%fZ'))
                          - df.PlayerBirthDate.apply(lambda x : datetime.strptime(x,'%m/%d/%Y')))
    df['PlayerAge'] = df['PlayerAge'].apply(lambda x : x.total_seconds()/seconds_in_year)
    return df.drop(columns=['TimeHandoff','TimeSnap','PlayerBirthDate'])

## PlayerHeight

In [53]:
train_cat.PlayerHeight.unique()

array(['6-0', '6-3', '6-2', '5-11', '6-6', '6-9', '6-4', '6-1', '5-10',
       '6-5', '6-7', '5-9', '5-8', '5-7', '6-8', '5-6'], dtype=object)

In [54]:
def proc_player_height(x):
    return float(f"{x.split('-')[0]}.{x.split('-')[1]}") * 30.48

## PlayerCollegeName

In [55]:
train_cat.PlayerCollegeName.unique()

array(['Tennessee', 'Miami', 'Georgia', 'Texas', 'Newberry', 'Auburn',
       'Oregon', 'Rice', 'Brigham Young', 'Washington',
       'Mississippi State', 'Texas Tech', 'Arizona', 'Texas Christian',
       'Colorado', 'Michigan', 'Monmouth, N.J.', 'Oregon State',
       'Wisconsin', 'Georgia Tech', 'North Carolina State',
       'Central Michigan', 'LSU', 'Southern Mississippi', 'Brown',
       'Clemson', 'Florida', 'Utah', 'California', 'Cincinnati',
       'Wisconsin-Milwaukee', 'McGill', 'South Dakota State', 'Missouri',
       'Penn State', 'Toledo', 'Rutgers', 'Alabama', 'South Carolina',
       'West Alabama', 'Arkansas', 'Stanford', 'Nebraska', 'Connecticut',
       'Georgia State', 'Arizona State', 'Houston', 'Pittsburgh', 'UCLA',
       'Minnesota', 'Vanderbilt', 'Abilene Christian', 'Chattanooga',
       'Temple', 'Troy', 'Arkansas State', 'Louisiana State',
       'Florida State', 'Southern California', 'Ohio State', 'Louisville',
       'Tulsa', 'Virginia Tech', 'Louisiana Tech', 'East Carolina',
       'Columbia', 'USC', 'Hillsdale', 'Coastal Carolina',
       'Colorado State-Pueblo', 'Wagner', 'West Georgia',
       'Sam Houston State', 'Southern Methodist', 'Kent State',
       'Stony Brook', 'Southern Arkansas', 'North Dakota State',
       'Iowa State', 'Iowa', 'Wyoming', 'Tulane', 'Bethune-Cookman',
       'North Carolina', 'Boston College', 'Valdosta State', 'Texas A&M',
       'San Jose State', 'Texas-El Paso', 'Mary Hardin-Baylor',
       'Kentucky', 'Regina, Can.', 'Indiana', 'Drake', 'Memphis',
       'Southeastern Louisiana', 'Purdue', 'Central Florida',
       'Nebraska-Omaha', 'South Dakota', 'Mississippi', 'Michigan State',
       'Boise State', 'West Virginia', 'Kansas State', 'Baylor',
       'North Carolina A&T', 'Ashland', 'San Diego State', 'Citadel',
       'Grand Valley State', 'Nicholls State', 'Oklahoma',
       'Missouri Southern', 'Virginia', 'Notre Dame', 'Delaware',
       'Northern Iowa', 'Towson', 'Duke', 'Illinois', 'Utah State',
       'Maine', 'Chadron State', 'Portland State', 'Samford',
       'Wake Forest', 'Tennessee State', 'Ohio U.',
       'South Carolina State', 'Maryland', 'Cornell', 'Nevada',
       'Alabama State', 'Princeton', 'James Madison', 'Miami (Ohio)',
       'Army', 'Oklahoma State', 'Florida Atlantic', 'Georgia Southern',
       'Montana', 'North Carolina-Charlotte', 'Idaho', 'Pittsburg State',
       'New Mexico', 'Presbyterian', 'Syracuse', 'Eastern Michigan',
       'California-Irvine', 'Howard', 'Northern Illinois',
       'Nevada-Las Vegas', 'Southern Utah', 'Alabama-Birmingham',
       'Delaware State', 'Miami (Fla.)', 'Appalachian State',
       'Tiffin University', 'Kentucky Wesleyan', 'Missouri State',
       'Northwestern (Ia)', 'Fresno State', 'Florida International',
       'Middle Tennessee', 'Buffalo', 'Ohio', 'Colorado State',
       'Ouachita Baptist', 'Central Missouri State', 'Marshall',
       'Middle Tennessee State', 'Western Michigan', 'Western Kentucky',
       'Greenville', 'Miami, O.', 'Stillman', 'South Florida',
       'New Hampshire', 'Washington State', 'Texas State',
       'South Alabama', 'Louisiana Coll.', 'Mars Hill', 'West Texas A&M',
       'Northwest Missouri State', 'Eastern Washington', 'Beloit',
       'New Mexico State', 'Bloomsburg', 'Missouri Western State',
       'Northwestern', 'Mount Union', 'Slippery Rock', 'Harvard',
       'Canisius', 'North Alabama', 'William Penn',
       'Saginaw Valley State', 'Bowling Green State', 'Richmond',
       'Texas-San Antonio', 'Idaho State', 'Shippensburg',
       'Michigan Tech', 'Minn. State-Mankato', 'Manitoba, Can.',
       'Augustana, S.D.', 'North Texas', 'Akron', 'Western Oregon',
       'Kansas', 'Illinois State', 'Sacramento State',
       'Missouri Southern State', 'Bucknell', 'Midwestern State',
       'Albany State, Ga.', 'Grambling', 'Azusa Pacific', 'Hobart',
       'Hampton', 'Eastern Kentucky', 'William & Mary',
       'Southern Illinois', 'Henderson State', 'Winston-Salem State',
       'Furman', 'Louisiana-Lafayette', 'Villanova', 'Washburn',
       'Northwestern State-Louisiana', 'Air Force', 'Regina (Canada)',
       'St. Francis (PA)', 'Lindenwood', 'North Carolina Central',
       'Belhaven', 'Marist', 'Western State, Colo.', 'California, Pa.',
       'Marian (Ind.)', 'Laval (Canada)', 'Massachusetts',
       'Youngstown State', 'Arkansas-Pine Bluff', 'Ball State',
       'Grambling State', 'Bowie State', 'Montana State',
       'Jacksonville State', 'Alabama A&M', 'Eastern Oregon', 'Wofford',
       'Eastern Illinois', 'Lamar', 'San Diego', 'North Greenville',
       'California (PA)', 'Pennsylvania', 'Holy Cross', 'Old Dominion',
       'Liberty', 'Shepherd', 'Ferris State', 'Cal Poly',
       'Stetson University', 'Northeast Mississippi CC',
       'Monmouth (N.J.)', 'Jacksonville', 'Hawaii', 'East Central',
       'Yale', 'Weber State', 'Incarnate Word (Tex.)', 'Limestone',
       'Tennessee-Chattanooga', 'Assumption', 'Concordia-St. Paul',
       'Fordham', 'Fort Hays State', 'Virginia State',
       'Stephen F. Austin St.', 'Western Carolina', 'Concordia, Minn',
       'Navy', 'No College', 'Virginia Commonwealth', 'Central Arkansas',
       'Alcorn State', 'Albany, N.Y.', 'Prairie View',
       'Wisconsin-Platteville', 'Indiana State', 'Southern University',
       'Western Illinois', 'Southeast Missouri', 'Frostburg State',
       'Humboldt State', 'Wisconsin-Whitewater', 'Arkansas-Monticello',
       'Southern Connecticut State', 'Texas Southern', 'Murray State',
       'Bemidji State', 'California-Davis', 'McNeese State',
       'Charleston, W. Va.', 'Tarleton State', 'Bryant University',
       'Malone', 'Sioux Falls', 'Morgan State', 'Findlay'], dtype=object)

## HomeTeamAbbr

In [56]:
train_cat.HomeTeamAbbr.unique()

array(['NE', 'BUF', 'CHI', 'CIN', 'CLE', 'DET', 'HOU', 'TEN', 'WAS', 'LA',
       'GB', 'SF', 'DAL', 'MIN', 'DEN', 'BAL', 'CAR', 'IND', 'JAX', 'KC',
       'NO', 'PIT', 'TB', 'LAC', 'OAK', 'SEA', 'ATL', 'NYG', 'NYJ', 'PHI',
       'ARI', 'MIA'], dtype=object)

## Stadium

In [57]:
train_cat.Stadium.unique()

array(['Gillette Stadium', 'New Era Field', 'Soldier Field',
       'Paul Brown Stadium', 'FirstEnergy', 'Ford Field', 'NRG Stadium',
       'Nissan Stadium', 'FedExField', 'Los Angeles Memorial Coliseum',
       'Lambeau Field', 'Levis Stadium', 'AT&T Stadium',
       'U.S. Bank Stadium', 'Sports Authority Field at Mile High',
       'M&T Bank Stadium', 'Bank of America Stadium', 'Lucas Oil Stadium',
       'Everbank Field', 'Arrowhead Stadium', 'Mercedes-Benz Superdome',
       'Heinz Field', 'Raymond James Stadium', 'StubHub Center',
       'Oakland-Alameda County Coliseum', 'CenturyLink Field',
       'Mercedes-Benz Dome', 'MetLife Stadium', 'Wembley Stadium',
       'Lincoln Financial Field', 'University of Phoenix Stadium',
       'Mercedes-Benz Stadium', 'M&T Stadium', 'First Energy Stadium',
       'NRG', 'MetLife', 'CenturyLink', 'FirstEnergy Stadium',
       'Hard Rock Stadium', 'EverBank Field', 'Twickenham',
       'Twickenham Stadium', 'Estadio Azteca', 'M & T Bank Stadium',
       'Oakland Alameda-County Coliseum', 'State Farm Stadium',
       'Broncos Stadium At Mile High', 'Los Angeles Memorial Coliesum',
       'Broncos Stadium at Mile High', 'TIAA Bank Field', 'CenturyField',
       'FirstEnergyStadium', 'Paul Brown Stdium', 'Lambeau field',
       'Metlife Stadium', 'Dignity Health Sports Park',
       'Empower Field at Mile High', 'FedexField',
       'Tottenham Hotspur Stadium', 'Tottenham Hotspur', 'Azteca Stadium'],
      dtype=object)

## Location

In [58]:
train_cat.Location.unique()

array(['Foxborough, MA', 'Orchard Park NY', 'Chicago. IL',
       'Cincinnati, Ohio', 'Cleveland, Ohio', 'Detroit, MI',
       'Houston, Texas', 'Nashville, TN', 'Landover, MD',
       'Los Angeles, Calif.', 'Green Bay, WI', 'Santa Clara, CA',
       'Arlington, Texas', 'Minneapolis, MN', 'Denver, CO',
       'Baltimore, Md.', 'Charlotte, North Carolina',
       'Indianapolis, Ind.', 'Jacksonville, FL', 'Kansas City, MO',
       'New Orleans, LA', 'Pittsburgh', 'Tampa, FL', 'Carson, CA',
       'Oakland, CA', 'Seattle, WA', 'Atlanta, GA', 'East Rutherford, NJ',
       'London, England', 'Chicago, IL', 'Detroit', 'Philadelphia, Pa.',
       'Glendale, AZ', 'Cleveland, OH', 'Foxborough, Ma',
       'E. Rutherford, NJ', 'Miami Gardens, Fla.', 'Houston, TX',
       'London', 'New Orleans, La.', 'Mexico City', 'Baltimore, Maryland',
       'Arlington, TX', 'Jacksonville, Fl', 'Jacksonville, Florida',
       'Pittsburgh, PA', 'Charlotte, NC', 'Cleveland,Ohio',
       'East Rutherford, N.J.', 'Philadelphia, PA', 'Seattle',
       'Cleveland Ohio', 'Miami Gardens, FLA', 'Orchard Park, NY',
       'Cleveland', 'Cincinnati, OH', 'Kansas City,  MO',
       'Jacksonville Florida', 'Los Angeles, CA', 'New Orleans',
       'Chicago', 'Charlotte North Carolina', 'Miami Gardens, FL',
       'Denver CO', 'Santa Clara, CSA', 'Baltimore, MD',
       'Mexico City, Mexico'], dtype=object)

## StadiumType

In [59]:
train_cat.StadiumType.value_counts()

Outdoor                      362516
Outdoors                      92708
Indoors                       56826
Dome                          23122
Indoor                        19140
Retractable Roof              18766
Open                          11308
Retr. Roof-Closed             11044
Domed, closed                  6908
Retr. Roof - Closed            6446
Domed, open                    3696
Retr. Roof-Open                3014
Retractable Roof - Closed      2222
Closed Dome                    2134
Dome, closed                   1826
Domed                          1826
Domed, Open                    1760
OUTDOOR                        1254
Oudoor                         1188
indoor                         1166
Retr. Roof Closed              1056
Indoor, Roof Closed            1056
Bowl                            968
Outddors                        968
Heinz Field                     902
Outdoor Retr Roof-Open          880
Retr. Roof - Open               880
Ourdoor                         858
Outdor                          858
Indoor, Open Roof               858
Outside                         814
Cloudy                          770
Indoor, roof open               726
Name: StadiumType, dtype: int64

In [60]:
def convert_stadium_type_to_dict(text):
    stadium_type_dict = {}
    if str(text)=='nan':
        return stadium_type_dict
    if 'outdoor' in text.lower() or 'open' in text.lower() or 'heinz' in text.lower() \
    or 'ourdoor' in text.lower() or 'outdor' in text.lower():
        stadium_type_dict['outdoor'] = 1
    if ('indoor' in text.lower() and 'open' not in text.lower()) or 'closed' in text.lower():
        stadium_type_dict['indoor'] = 1
    if 'retr' in text.lower():
        stadium_type_dict['retractable'] = 1
    return stadium_type_dict

In [61]:
def oneHotEncoding_stadium_type(df):
    bow_stadium_type = df.StadiumType.apply(lambda x : convert_stadium_type_to_dict(x))
    vect = DictVectorizer(sparse=False)
    vectors_stadium_types = vect.fit_transform(bow_stadium_type)
    stadium_type_dummies = pd.DataFrame(vectors_stadium_types, columns=vect.get_feature_names())
    return pd.concat([df.drop('StadiumType', axis=1), stadium_type_dummies], axis=1)

## Turf

In [62]:
train_cat.Turf.unique()

array(['Field Turf', 'A-Turf Titan', 'Grass', 'UBU Sports Speed S5-M',
       'Artificial', 'DD GrassMaster', 'Natural Grass',
       'UBU Speed Series-S5-M', 'FieldTurf', 'FieldTurf 360',
       'Natural grass', 'grass', 'Natural', 'Artifical', 'FieldTurf360',
       'Naturall Grass', 'Field turf', 'SISGrass',
       'Twenty-Four/Seven Turf', 'natural grass', 'UBU-Speed Series-S5-M',
       'Twenty Four/Seven Turf', 'Turf'], dtype=object)

In [63]:
def convert_turf(x):
    return 'Natural' if x.lower() in ['grass','natural grass','natural','naturall grass'] else 'Artificial'

In [64]:
def process_turf(df):
    df['IsTurfNatural'] = df.Turf.apply(lambda x : 1 if convert_turf(x)=='Natural' else 0)
    return df.drop('Turf', axis=1)

## GameWeather

In [65]:
train_cat.GameWeather.unique()

array(['Clear and warm', 'Sun & clouds', 'Sunny', 'Controlled Climate',
       'Mostly Sunny', 'Clear', nan, 'Indoor', 'Mostly Cloudy',
       'Mostly Coudy', 'Partly sunny', 'Partly Cloudy', 'Cloudy',
       'Sunny, highs to upper 80s', 'Indoors', 'Light Rain', 'Showers',
       'Partly cloudy', 'Partly Sunny', '30% Chance of Rain',
       'Cloudy with periods of rain, thunder possible. Winds shifting to WNW, 10-20 mph.',
       'Rain', 'Cloudy, fog started developing in 2nd quarter', 'Coudy',
       'Rain likely, temps in low 40s.', 'Cold', 'N/A (Indoors)',
       'Clear skies', 'cloudy', 'Fair', 'Mostly cloudy',
       'Cloudy, chance of rain', 'Heavy lake effect snow', 'Party Cloudy',
       'Cloudy, light snow accumulating 1-3"', 'Cloudy and cold', 'Snow',
       'Hazy', 'Scattered Showers', 'Cloudy and Cool', 'N/A Indoor',
       'Rain Chance 40%', 'Clear and sunny', 'Mostly sunny',
       'Sunny and warm', 'Partly clear', 'Cloudy, 50% change of rain',
       'Clear and Sunny', 'Sunny, Windy', 'Clear and Cool',
       'Sunny and clear', 'Mostly Sunny Skies', 'Partly Clouidy',
       'Clear Skies', 'Sunny Skies', 'Overcast',
       'T: 51; H: 55; W: NW 10 mph', 'Cloudy, Rain', 'Rain shower',
       'Clear and cold', 'Rainy', 'Sunny and cold',
       'Partly cloudy and mild', 'Breezy', 'Light rain', 'partly cloudy',
       'Mostly Clear', 'N/A Indoors', 'sUNNY',
       'Cloudy with showers and wind', 'overcast', 'Mostly clear',
       'Raining', 'Rain and Wind'], dtype=object)

In [66]:
def convert_game_weather_to_dict(text):
    game_weather_dict = {}
    if str(text)=='nan':
        return game_weather_dict
    if 'clear' in text.lower(): 
        game_weather_dict['clear'] = 1
    if 'warm' in text.lower():
        game_weather_dict['warm'] = 1
    if 'sun' in text.lower():
        game_weather_dict['sunny'] = 1
    if 'cloud' in text.lower() or 'coudy' in text.lower() or 'clouidy' in text.lower() or 'overcast' in text.lower():
        game_weather_dict['cloud'] = 1
    if 'indoor' in text.lower():
        game_weather_dict['indoor'] = 1
    if 'rain' in text.lower():
        game_weather_dict['rain'] = 1
    if 'shower' in text.lower():
        game_weather_dict['shower'] = 1
    if 'snow' in text.lower():
        game_weather_dict['snow'] = 1
    if 'cold' in text.lower():
        game_weather_dict['cold'] = 1
    if 'cool' in text.lower():
        game_weather_dict['cool'] = 1
    return game_weather_dict

In [67]:
def oneHotEncoding_game_weather(df):
    bow_game_weather = df.GameWeather.apply(lambda x : convert_game_weather_to_dict(x))
    vect = DictVectorizer(sparse=False)
    vectors_game_weather = vect.fit_transform(bow_game_weather)
    game_weather_dummies = pd.DataFrame(vectors_game_weather, columns=vect.get_feature_names())
    return pd.concat([df.drop('GameWeather', axis=1), game_weather_dummies], axis=1)

## WindSpeed

In [68]:
train_cat.WindSpeed.unique()

array([8.0, 6.0, 10.0, 9.0, 11.0, nan, 7.0, 5.0, 2.0, 12.0, 1, 3, 4, 13,
       '10', '5', '6', '4', '8', '0', 'SSW', 14.0, 0.0, 15.0, 17.0, 18.0,
       16.0, '11-17', '16', '14', '13', '12', '23', '7', '9', '3', '17',
       '14-23', '1', '13 MPH', 24.0, '15', '12-22', '2', '4 MPh',
       '15 gusts up to 25', '11', '10MPH', '10mph', '22', 'E', '7 MPH',
       'Calm', '6 mph', '19', 'SE', '20', '10-20', '12mph', '6mph',
       '9mph', 'SSE', '14 Gusting to 24', '6 mph, Gusts to 10',
       '2 mph, gusts to 5', 23.0, 19, '12 mph', '9 mph, gusts to 13',
       '10 mph, gusts to 15'], dtype=object)

In [69]:
def process_wind_speed(x):
    digits = [int(i) for i in str(x).lower().replace('mph','').replace('.0','').replace('-',' ').split(' ') if i.isnumeric()]
    return sum(digits)/len(digits) if len(digits)>0 else 0

## WindDirection

In [70]:
train_cat.WindDirection.unique()

array(['SW', 'NNE', 'SE', 'East', nan, 'NE', 'North', 'S', 'Northwest',
       'SouthWest', 'ENE', 'ESE', 'SSW', 'NW', 'Northeast', 'From S', 'W',
       'South', 'West-Southwest', 'E', '13', 'N', 'NNW',
       'South Southeast', 'SSE', 'West', 'WSW', 'From SW', 'WNW', 's',
       'NorthEast', 'from W', 'W-NW', 'South Southwest', 'Southeast',
       'From WSW', 'West Northwest', 'Calm', 'From SSE', 'From W',
       'East North East', 'From ESE', 'EAST', 'East Southeast',
       'From SSW', '8', 'North East', 'Southwest', 'North/Northwest',
       'From NNE', '1', 'N-NE', 'W-SW', 'From NNW', 'S-SW', 'From NE',
       'South west', 'South, Southeast', 'Southerly'], dtype=object)

In [71]:
dict_wind_direction = {
    'east': 'e', 
    'north': 'n', 
    'northwest': 'nw',
    'southwest': 'sw', 
    'northeast': 'ne', 
    'south': 's', 
    'west-southwest': 'wsw', 
    'south southeast': 'sse', 
    'west': 'w', 
    'northeast': 'ne', 
    'w-nw': 'wnw', 
    'south southwest': 'ssw', 
    'southeast': 'se',
    'west northwest': 'wnw',
    'east north east': 'ene', 
    'east southeast': 'ese',
    'north east': 'ne', 
    'north/northwest': 'nnw',
    'n-ne': 'nne', 
    'w-sw': 'wsw', 
    's-sw': 'ssw', 
    'south west': 'sw', 
    'south, southeast': 'sse', 
    'southerly': 's'
}

In [72]:
def process_wind_direction(x):
    if isinstance(x,float) or x.isnumeric() or x.lower() in ['calm']:
        return ''
    return dict_wind_direction.get(x.lower().replace('from ',''), x.lower().replace('from ',''))

In [73]:
def oneHotEncoding_wind_direction(df):
    wind_direction_dummies = pd.get_dummies(df.WindDirection.apply(lambda x : process_wind_direction(x)), columns=df.WindDirection.unique())
    return pd.concat([df.drop('WindDirection', axis=1), wind_direction_dummies], axis=1)

## Drop categorical features

In [74]:
def drop_categorical_features(df):
    return df.drop(columns=['DisplayName','OffensePersonnel','DefensePersonnel', 'PlayerCollegeName','HomeTeamAbbr','VisitorTeamAbbr','Stadium','Location'], axis=1)

# Numerical Features

In [75]:
train_num = train.select_dtypes(include=['int64','float64'])

In [76]:
train_num.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 682154 entries, 0 to 682153
Data columns (total 25 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   GameId                  682154 non-null  int64
 1   PlayId                  682154 non-null  int64
 2   X                       682154 non-null  float64
 3   Y                       682154 non-null  float64
 4   S                       682154 non-null  float64
 5   A                       682154 non-null  float64
 6   Dis                     682154 non-null  float64
 7   Orientation             682131 non-null  float64
 8   Dir                     682126 non-null  float64
 9   NflId                   682154 non-null  int64
 10  JerseyNumber            682154 non-null  int64
 11  Season                  682154 non-null  int64
 12  YardLine                682154 non-null  int64
 13  Quarter                 682154 non-null  int64
 14  Down                    682154 non-null  int64
 15  Distance                682154 non-null  int64
 16  HomeScoreBeforePlay     682154 non-null  int64
 17  VisitorScoreBeforePlay  682154 non-null  int64
 18  NflIdRusher             682154 non-null  int64
 19  DefendersInTheBox       682132 non-null  float64
 20  Yards                   682154 non-null  int64
 21  PlayerWeight            682154 non-null  int64
 22  Week                    682154 non-null  int64
 23  Temperature             618508 non-null  float64
 24  Humidity                675994 non-null  float64
dtypes: float64(10), int64(15)
memory usage: 130.1 MB

## Droped numerical features

In [77]:
def drop_numerical_features(df):
    return df.drop(columns=['GameId', 'PlayId', 'JerseyNumber','Season'], axis=1)

## NflId & NflIdRusher

In [78]:
def process_is_rusher(df):
    df['IsRusher'] = df.NflId == df.NflIdRusher
    df['IsRusher'] = df['IsRusher'].apply(lambda x : 1 if x else 0)
    return df.drop(columns=['NflId','NflIdRusher'])

## Orientation

In [126]:
# replace null values with 180 (happens to be the average)
def proc_orientation(x):
    return x if x==True else 180

## Dir

In [133]:
# replace null values with 180 (happens to be the average)
def proc_dir(x):
    return x if x==True else 180

## DefendersInTheBox

In [133]:
# replace null values with 180 (happens to be the average)
def proc_dir(x):
    return x if x==True else 180

In [135]:
test = train_num[train_num.DefendersInTheBox.notnull()]
sum(test.DefendersInTheBox)/len(test.DefendersInTheBox)

6.910339934206283

# Processing of all features

In [127]:
def process_features(df_source):
    df = df_source.copy()
    df.Team = df.Team.apply(lambda x : proc_team(x))
    df.GameClock = df.GameClock.apply(lambda x : proc_gameclock(x))
    df = possession_in_fieldPosition(df)
    df = oneHotEncoding_offense_formation(df)
    df = oneHotEncoding_position(df)
    df.PlayDirection = df.PlayDirection.apply(lambda x : proc_play_direction(x))
    df = proc_time_handoff_snap_and_player_age(df)
    df.PlayerHeight = df.PlayerHeight.apply(lambda x : proc_player_height(x))
    df = oneHotEncoding_stadium_type(df)
    df = process_turf(df)
    df = oneHotEncoding_game_weather(df)
    df.WindSpeed = df.WindSpeed.apply(lambda x : process_wind_speed(x))
    df = oneHotEncoding_wind_direction(df)
    df = process_is_rusher(df)
    df = drop_categorical_features(df)
    df.Orientation = df.Orientation.apply(lambda x : proc_orientation(x))
    df.Dir = df.Dir.apply(lambda x : proc_dir(x))
    df = drop_numerical_features(df)
    return df

# Save processed data

In [80]:
train_proc = process_features(train)

In [91]:
for col in train_proc.columns:
    if np.any(np.isnan(train_proc[col])):
        print(col)

Orientation
Dir
DefendersInTheBox
Temperature
Humidity

In [139]:
train_proc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 682154 entries, 0 to 682153
Data columns (total 92 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   Team                       682154 non-null  int64
 1   X                          682154 non-null  float64
 2   Y                          682154 non-null  float64
 3   S                          682154 non-null  float64
 4   A                          682154 non-null  float64
 5   Dis                        682154 non-null  float64
 6   Orientation                682131 non-null  float64
 7   Dir                        682126 non-null  float64
 8   YardLine                   682154 non-null  int64
 9   Quarter                    682154 non-null  int64
 10  GameClock                  682154 non-null  float64
 11  Down                       682154 non-null  int64
 12  Distance                   682154 non-null  int64
 13  HomeScoreBeforePlay        682154 non-null  int64
 14  VisitorScoreBeforePlay     682154 non-null  int64
 15  DefendersInTheBox          682132 non-null  float64
 16  PlayDirection              682154 non-null  int64
 17  Yards                      682154 non-null  int64
 18  PlayerHeight               682154 non-null  float64
 19  PlayerWeight               682154 non-null  int64
 20  Week                       682154 non-null  int64
 21  Temperature                618508 non-null  float64
 22  Humidity                   675994 non-null  float64
 23  WindSpeed                  682154 non-null  float64
 24  PossessionInFieldPosition  682154 non-null  int64
 25  ACE                        682154 non-null  uint8
 26  EMPTY                      682154 non-null  uint8
 27  I_FORM                     682154 non-null  uint8
 28  JUMBO                      682154 non-null  uint8
 29  PISTOL                     682154 non-null  uint8
 30  SHOTGUN                    682154 non-null  uint8
 31  SINGLEBACK                 682154 non-null  uint8
 32  WILDCAT                    682154 non-null  uint8
 33  C                          682154 non-null  uint8
 34  CB                         682154 non-null  uint8
 35  DB                         682154 non-null  uint8
 36  DE                         682154 non-null  uint8
 37  DL                         682154 non-null  uint8
 38  DT                         682154 non-null  uint8
 39  FB                         682154 non-null  uint8
 40  FS                         682154 non-null  uint8
 41  G                          682154 non-null  uint8
 42  HB                         682154 non-null  uint8
 43  ILB                        682154 non-null  uint8
 44  LB                         682154 non-null  uint8
 45  MLB                        682154 non-null  uint8
 46  NT                         682154 non-null  uint8
 47  OG                         682154 non-null  uint8
 48  OLB                        682154 non-null  uint8
 49  OT                         682154 non-null  uint8
 50  QB                         682154 non-null  uint8
 51  RB                         682154 non-null  uint8
 52  S                          682154 non-null  uint8
 53  SAF                        682154 non-null  uint8
 54  SS                         682154 non-null  uint8
 55  T                          682154 non-null  uint8
 56  TE                         682154 non-null  uint8
 57  WR                         682154 non-null  uint8
 58  TimeDeltaHandoff           682154 non-null  float64
 59  PlayerAge                  682154 non-null  float64
 60  indoor                     682154 non-null  float64
 61  outdoor                    682154 non-null  float64
 62  retractable                682154 non-null  float64
 63  IsTurfNatural              682154 non-null  int64
 64  clear                      682154 non-null  float64
 65  cloud                      682154 non-null  float64
 66  cold                       682154 non-null  float64
 67  cool                       682154 non-null  float64
 68  indoor                     682154 non-null  float64
 69  rain                       682154 non-null  float64
 70  shower                     682154 non-null  float64
 71  snow                       682154 non-null  float64
 72  sunny                      682154 non-null  float64
 73  warm                       682154 non-null  float64
 74                             682154 non-null  uint8
 75  e                          682154 non-null  uint8
 76  ene                        682154 non-null  uint8
 77  ese                        682154 non-null  uint8
 78  n                          682154 non-null  uint8
 79  ne                         682154 non-null  uint8
 80  nne                        682154 non-null  uint8
 81  nnw                        682154 non-null  uint8
 82  nw                         682154 non-null  uint8
 83  s                          682154 non-null  uint8
 84  se                         682154 non-null  uint8
 85  sse                        682154 non-null  uint8
 86  ssw                        682154 non-null  uint8
 87  sw                         682154 non-null  uint8
 88  w                          682154 non-null  uint8
 89  wnw                        682154 non-null  uint8
 90  wsw                        682154 non-null  uint8
 91  IsRusher                   682154 non-null  int64
dtypes: float64(28), int64(14), uint8(50)
memory usage: 251.1 MB

In [170]:
X_train, X_test, y_train, y_test = train_test_split(train_proc, y, test_size=0.3, random_state=2)

In [171]:
X_train

,Team,X,Y,S,A,Dis,Orientation,Dir,YardLine,Quarter,...,nw,s,se,sse,ssw,sw,w,wnw,wsw,IsRusher
605093,0,83.46,24.50,1.96,0.79,0.20,80.87,276.82,4,4,...,0,0,0,0,0,1,0,0,0,0
524681,0,59.55,28.58,0.70,1.14,0.07,343.53,202.67,50,1,...,0,0,0,0,0,0,0,0,0,0
674288,0,32.90,34.49,2.41,0.44,0.26,58.21,317.77,25,1,...,0,0,0,0,0,0,0,0,0,0
443826,1,10.66,18.54,3.25,1.67,0.32,307.06,299.70,1,1,...,0,0,0,0,0,0,0,1,0,0
159363,1,57.44,30.63,3.34,2.02,0.31,167.20,212.90,44,2,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84434,1,51.05,42.58,3.26,2.80,0.57,143.49,159.34,39,3,...,0,0,1,0,0,0,0,0,0,0
437782,0,96.21,36.82,2.15,1.90,0.24,134.02,45.89,15,3,...,0,0,0,0,0,1,0,0,0,0
620104,1,17.47,23.38,3.60,0.30,0.39,251.50,158.87,6,2,...,0,0,0,0,1,0,0,0,0,0
203245,0,84.64,28.54,1.52,1.17,0.16,313.99,347.07,25,4,...,1,0,0,0,0,0,0,0,0,0
100879,0,60.00,26.05,2.99,2.47,0.37,87.56,280.94,45,3,...,0,0,0,0,0,0,0,0,0,0

In [183]:
model = Sequential()

In [184]:
model.add(layers.Dense(5, input_dim=92, activation='relu')) 
model.add(layers.Dense(5, activation='tanh'))
model.add(layers.Dense(1, activation='linear'))

In [185]:
model.summary()

Model: "sequential_6"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_24 (Dense)             (None, 5)                 465
_________________________________________________________________
dense_25 (Dense)             (None, 5)                 30
_________________________________________________________________
dense_26 (Dense)             (None, 1)                 6
=================================================================
Total params: 501
Trainable params: 501
Non-trainable params: 0
_________________________________________________________________

In [186]:
model.compile(loss='mse', 
              optimizer=tensorflow.keras.optimizers.Adam(
    learning_rate=0.01, beta_1=0.9, beta_2=0.99
)
)

In [187]:
model.fit(X_train, y_train, batch_size=32, epochs=1)

14923/14923 [==============================] - 18s 1ms/step - loss: nan

In [188]:
model.evaluate(X_test, y_test)

6396/6396 [==============================] - 5s 698us/step - loss: nan

nan

In [196]:
np.any(np.isnan(X_train))

True