In [1]:
import pandas as pd

In [7]:
target = pd.read_csv('../kaggle_nflbowl_yards/data/target_processed.csv', index_col=0)

In [8]:
target.shape

(682154, 199)

In [9]:
target.head()

,0,1,2,3,4,5,6,7,8,9,...,189,190,191,192,193,194,195,196,197,198
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

In [14]:
train = pd.read_csv('../kaggle_nflbowl_yards/data/train_processed.csv', index_col=0)

In [15]:
train.shape

(682154, 91)

In [16]:
train.head()

,Team,X,Y,S,A,Dis,Orientation,Dir,YardLine,Quarter,...,nw,s,se,sse,ssw,sw,w,wnw,wsw,IsRusher
0,0,73.91,34.84,1.69,1.13,0.40,81.99,177.18,35,1,...,0,0,0,0,0,1,0,0,0,0
1,0,74.67,32.64,0.42,1.35,0.01,27.61,198.70,35,1,...,0,0,0,0,0,1,0,0,0,0
2,0,74.00,33.20,1.22,0.59,0.31,3.01,202.73,35,1,...,0,0,0,0,0,1,0,0,0,0
3,0,71.46,27.70,0.42,0.54,0.02,359.77,105.64,35,1,...,0,0,0,0,0,1,0,0,0,0
4,0,69.32,35.42,1.82,2.43,0.16,12.63,164.31,35,1,...,0,0,0,0,0,1,0,0,0,0